### DESATIVAR VEÍCULOS

In [9]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select, WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
def select_option_value_toggle(xpath, element, driver):
    toggle = Select(driver.find_element(By.XPATH, xpath))
    for index in range(len(toggle.options)):
        if toggle.options[index].text == element:
            break
    time.sleep(0.5)
    toggle.select_by_index(index)

In [10]:
desativar_veic = pd.read_excel(r'C:\Users\Lucas Esteves Pereir\OneDrive - Cepa Centro de Treinamento Ltda\Documentos\estudo_lucas\JJ - CODIGOS\Atualização da frota\Veículo\Veiculo.xlsx')
display(desativar_veic)

     Placa  Id  Setor
0   497721 NaN    NaN
1   629323 NaN    NaN
2   629326 NaN    NaN
3   629319 NaN    NaN
4   509016 NaN    NaN
5   634465 NaN    NaN
6   634464 NaN    NaN
7   634467 NaN    NaN
8   603273 NaN    NaN
9   709263 NaN    NaN
10  603271 NaN    NaN
11  670395 NaN    NaN
12  600753 NaN    NaN
13  641205 NaN    NaN
14  621248 NaN    NaN
15  670424 NaN    NaN
16  670431 NaN    NaN
17  670423 NaN    NaN
18  764657 NaN    NaN
19  636149 NaN    NaN
20  636169 NaN    NaN
21  636171 NaN    NaN
22  764175 NaN    NaN
23  764179 NaN    NaN
24  660774 NaN    NaN
25  594215 NaN    NaN
26  519976 NaN    NaN
27  660796 NaN    NaN
28  531263 NaN    NaN
29  660787 NaN    NaN
30  660812 NaN    NaN
31  478550 NaN    NaN
32  641004 NaN    NaN

In [11]:
driver = webdriver.Chrome()
#acessar o fdm
driver.get("https://jnj.cepamobility.com/") 
#driver.find_element(By.XPATH, '//*[@id="inputEmail"]').click()
driver.find_element(By.XPATH, '//*[@id="username"]').send_keys("lesteves@cepamobility.com")
driver.find_element(By.XPATH, '//*[@id="password"]').send_keys("Lesteves01")
driver.find_element(By.XPATH,'//*[@id="kc-login"]').click()

In [8]:
desativar_veic.iloc[linha, :]

NameError: name 'linha' is not defined

In [13]:
#driver.find_element(By.XPATH,'//*[@id="main-menu"]/li[3]/a').click() #clicar em frotas
#driver.find_element(By.XPATH,'//*[@id="submenu-18"]/li[5]/a').click() # gerenciamento

for index, row in desativar_veic.loc[0:, :].iterrows():
    driver.get("https://jnj.cepamobility.com/layout.jsp?refer=/vehicle/VehicleView.jsp?id=" + str(int(row['Placa'])))
    time.sleep(1)
    driver.find_element(By.XPATH,'//*[@id="main-content"]/div/div/div/div/div[2]/div[1]/div/a[5]').click() #CLICANDO EM DESATIVAR
    time.sleep(1)
    driver.find_element(By.XPATH,'//*[@id="main-content"]/form[1]/div/div/div/div/div[2]/div/div[1]/div[1]/div/input').send_keys("01/28/2026") #ajustar para a data das exclusão
    driver.find_element(By.XPATH,'//*[@id="main-content"]/form[1]/div/div/div/div/div[2]/div/div[3]/fieldset/textarea').send_keys("Desativação - Workday - 28/01")
    time.sleep(0.5)
    driver.find_element(By.XPATH,'//*[@id="main-content"]/form[1]/div/div/div/div/div[2]/div/div[4]/input[1]').click()

    print(f"linha {index} desativado - placa {row['Placa']}" )

linha 0 desativado - placa 497721.0
linha 1 desativado - placa 629323.0
linha 2 desativado - placa 629326.0
linha 3 desativado - placa 629319.0
linha 4 desativado - placa 509016.0
linha 5 desativado - placa 634465.0
linha 6 desativado - placa 634464.0
linha 7 desativado - placa 634467.0
linha 8 desativado - placa 603273.0
linha 9 desativado - placa 709263.0
linha 10 desativado - placa 603271.0
linha 11 desativado - placa 670395.0
linha 12 desativado - placa 600753.0
linha 13 desativado - placa 641205.0
linha 14 desativado - placa 621248.0
linha 15 desativado - placa 670424.0
linha 16 desativado - placa 670431.0
linha 17 desativado - placa 670423.0
linha 18 desativado - placa 764657.0
linha 19 desativado - placa 636149.0
linha 20 desativado - placa 636169.0
linha 21 desativado - placa 636171.0
linha 22 desativado - placa 764175.0
linha 23 desativado - placa 764179.0
linha 24 desativado - placa 660774.0
linha 25 desativado - placa 594215.0
linha 26 desativado - placa 519976.0
linha 27 desativado - placa 660796.0
linha 28 desativado - placa 531263.0
linha 29 desativado - placa 660787.0
linha 30 desativado - placa 660812.0
linha 31 desativado - placa 478550.0
linha 32 desativado - placa 641004.0