### REATIVAR CONDUTOR

In [1]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import keyboard

In [2]:
reativar = pd.read_excel(r'C:\Users\Lucas Esteves Pereir\OneDrive - Cepa Centro de Treinamento Ltda\Documentos\estudo_lucas\JJ - CODIGOS\Atualização da frota\Condutor\Condutor.xlsx')
display(reativar)

   id fdm  Pais  Nome do gestor  id gestor  email gestor
0  448440   NaN             NaN        NaN           NaN
1  448001   NaN             NaN        NaN           NaN
2  448398   NaN             NaN        NaN           NaN
3  452341   NaN             NaN        NaN           NaN
4  447640   NaN             NaN        NaN           NaN
5  321249   NaN             NaN        NaN           NaN
6  450289   NaN             NaN        NaN           NaN
7  265963   NaN             NaN        NaN           NaN

In [3]:
driver = webdriver.Chrome()
#acessar o fdm
driver.get("https://jnj.cepamobility.com/") 
#driver.find_element(By.XPATH, '//*[@id="inputEmail"]').click()
driver.find_element(By.XPATH, '//*[@id="username"]').send_keys("lesteves@cepamobility.com")
driver.find_element(By.XPATH, '//*[@id="password"]').send_keys("Lesteves01")
driver.find_element(By.XPATH,'//*[@id="kc-login"]').click()

In [8]:
reativar.iloc[index, :]

id fdm            117625.0
Pais                   NaN
Nome do gestor         NaN
id gestor              NaN
email gestor           NaN
Name: 2, dtype: float64

In [4]:
#driver.find_element(By.XPATH,'//*[@id="main-menu"]/li[1]/a').click() #clicar em condutor
#driver.find_element(By.XPATH,'//*[@id="submenu-1"]/li[1]/a').click() # gerenciamento

for index, row in reativar.loc[0:, :].iterrows():
    driver.get("https://jnj.cepamobility.com/layout.jsp?refer=/driver/DriverView.jsp?id=" + str(int(row['id fdm'])))
    driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div/div/div/div[2]/div[1]/div/div/a[3]').click() # CLICANDO EM REATIVAR
    driver.find_element(By.XPATH, '//*[@id="main-content"]/form/div/div/div/div/div[2]/div[1]/div/textarea').send_keys("Atualização Frota - Sharon - 28/01") #Ajustar a data para o dia da reativação
    time.sleep(0.5)
    driver.find_element(By.XPATH, '//*[@id="main-content"]/form/div/div/div/div/div[2]/div[2]/div/input[1]').click() #CLICANDO EM SALVAR 


    print(f"Linha {index} ID: {row['id fdm']} Reativado")

Linha 0 ID: 448440.0 Reativado
Linha 1 ID: 448001.0 Reativado
Linha 2 ID: 448398.0 Reativado
Linha 3 ID: 452341.0 Reativado
Linha 4 ID: 447640.0 Reativado
Linha 5 ID: 321249.0 Reativado
Linha 6 ID: 450289.0 Reativado
Linha 7 ID: 265963.0 Reativado