### REATIVAR VEÍCULOS

In [8]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select, WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
def select_option_value_toggle(name, element, driver):
    toggle = Select(driver.find_element(By.XPATH, name))     #NOVO DROP DOWN PODEMOS USAR O NOME DO XPATH AO INVES DE USAR O CAMINHO XPATH
    toggle.select_by_visible_text(element)

In [9]:
reativar_veic = pd.read_excel(r'C:\Users\Lucas Esteves Pereir\OneDrive - Cepa Centro de Treinamento Ltda\Documentos\estudo_lucas\JJ - CODIGOS\Atualização da frota\Veículo\Veiculo.xlsx')
display(reativar_veic)

     Placa  Id  Setor
0   691115 NaN    NaN
1   696416 NaN    NaN
2   708973 NaN    NaN
3   705337 NaN    NaN
4   670346 NaN    NaN
5   663565 NaN    NaN
6   665401 NaN    NaN
7   663639 NaN    NaN
8   661881 NaN    NaN
9   663658 NaN    NaN
10  662029 NaN    NaN
11  661934 NaN    NaN
12  661924 NaN    NaN
13  661941 NaN    NaN
14  661378 NaN    NaN
15  708999 NaN    NaN
16  641166 NaN    NaN
17  690984 NaN    NaN
18  649628 NaN    NaN
19  642696 NaN    NaN
20  641959 NaN    NaN
21  670348 NaN    NaN
22  709154 NaN    NaN
23  708996 NaN    NaN
24  764032 NaN    NaN

In [5]:
driver = webdriver.Chrome()
#acessar o fdm
driver.get("https://jnj.cepamobility.com/") 
#driver.find_element(By.XPATH, '//*[@id="inputEmail"]').click()
driver.find_element(By.XPATH, '//*[@id="username"]').send_keys("lesteves@cepamobility.com")
driver.find_element(By.XPATH, '//*[@id="password"]').send_keys("Lesteves01")
driver.find_element(By.XPATH,'//*[@id="kc-login"]').click()

In [7]:
reativar_veic.iloc[linha, :]

NameError: name 'linha' is not defined

In [10]:
#driver.find_element(By.XPATH, '//*[@id="main-menu"]/li[3]/a').click() #frotas
#driver.find_element(By.XPATH, '//*[@id="submenu-18"]/li[3]/a').click() #gerenciamento de veículos

for index, row in reativar_veic.loc[0:, :].iterrows():
    driver.get("https://jnj.cepamobility.com/layout.jsp?refer=/vehicle/VehicleView.jsp?id=" + str(int(row['Placa'])))
    time.sleep(0.5)
    driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div/div/div/div[2]/div[1]/div/a[5]').click() # clicando em reativar
    driver.find_element(By.XPATH, '//*[@id="main-content"]/form[1]/div/div/div/div/div[2]/div/div[2]/fieldset/textarea').send_keys("Atualização da frota - Mauricio - 26/01") # Adicionando comentário
    time.sleep(0.5)
    driver.find_element(By.XPATH, '//*[@id="main-content"]/form[1]/div/div/div/div/div[2]/div/div[3]/input[1]').click() # Clicando em salvar
    print(f"linha {index} Reativado - placa {row['Placa']}" )

linha 0 Reativado - placa 691115.0
linha 1 Reativado - placa 696416.0
linha 2 Reativado - placa 708973.0
linha 3 Reativado - placa 705337.0
linha 4 Reativado - placa 670346.0
linha 5 Reativado - placa 663565.0
linha 6 Reativado - placa 665401.0
linha 7 Reativado - placa 663639.0
linha 8 Reativado - placa 661881.0
linha 9 Reativado - placa 663658.0
linha 10 Reativado - placa 662029.0
linha 11 Reativado - placa 661934.0
linha 12 Reativado - placa 661924.0
linha 13 Reativado - placa 661941.0
linha 14 Reativado - placa 661378.0
linha 15 Reativado - placa 708999.0
linha 16 Reativado - placa 641166.0
linha 17 Reativado - placa 690984.0
linha 18 Reativado - placa 649628.0
linha 19 Reativado - placa 642696.0
linha 20 Reativado - placa 641959.0
linha 21 Reativado - placa 670348.0
linha 22 Reativado - placa 709154.0
linha 23 Reativado - placa 708996.0
linha 24 Reativado - placa 764032.0